# Fix your strings notebook

Connect to PostgreSQL

In [ ]:
%reload_ext sql
%sql postgresql+psycopg2://USERNAME:PASSWORD@HOSTNAME:PORT/DB_NAME?sslmode=require

---
Create dataset

In [ ]:
%%sql 

CREATE TABLE MY_RESTAURANT_DATA (
    ID SERIAL, 
    CALLER_NAME VARCHAR, 
    CALLER_SURNAME VARCHAR, 
    EMAIL VARCHAR, 
    PHONE_NUMBER VARCHAR, 
    BOOKING_DATE VARCHAR, 
    INTERESTS VARCHAR,
    PEOPLE VARCHAR);

INSERT INTO MY_RESTAURANT_DATA VALUES (1,'Francesco', 'Tisiot', 'francescotisiot@email.com','+39 444-555-666','25/10/2023','football, pinot noir, tagliatelle','5');
INSERT INTO MY_RESTAURANT_DATA VALUES (2,'Francisco', 'TisiÃ¶tto', 'ftisiot@email.com','+39 444-555-6A6','10-05-2023','football; pinot noir; tagliatelle','4+1');
INSERT INTO MY_RESTAURANT_DATA VALUES (3,'Fransesco', 'TisÄ¯o', 'francesco.tisiot$email.com','444555666','2023-10-30','football-pinot noir-tagliatelle','4ðŸ§‘ 1ðŸ‘¶');
INSERT INTO MY_RESTAURANT_DATA VALUES (4,'FrancÃ¨sco', 'TÃ¯zzÃ¯oti', 'ftisiot@aivenio','444 555666','2023-Nov-31','footballpinot noirtagliatelle','1+4');
INSERT INTO MY_RESTAURANT_DATA VALUES (5,'Francesco', 'Tissoppo', 'francesco.tisiot@aiven.io','2023-Oct-24','444 555666','[football,pinot noir,tagliatelle]','55');

---
Check the data

In [ ]:
%%sql 

SELECT * FROM MY_RESTAURANT_DATA;

## People

Focus on the people column

In [ ]:
%%sql 

SELECT PEOPLE FROM MY_RESTAURANT_DATA;

---
Split into `ADULTS_NUMBER` and `BABY_NUMBER` two integers

In [ ]:
%%sql 

CREATE TABLE PEOPLE_ORDERED(original_value varchar,nr_adults int, nr_babies int, next_to_window boolean, comments varchar);
INSERT INTO PEOPLE_ORDERED VALUES('5',5,null, true, null);
INSERT INTO PEOPLE_ORDERED VALUES('4+1',4,1, null, 'Like looking at mountains');
INSERT INTO PEOPLE_ORDERED VALUES('4ðŸ§‘1ðŸ‘¶',4,1, false, 'Surprise party');
INSERT INTO PEOPLE_ORDERED VALUES('1+4',1,4, false, 'With 4 kids...help me!');
INSERT INTO PEOPLE_ORDERED VALUES('55',5,5, true, 'Bring your own Cake');

---
Check the results

In [ ]:
%%sql 

SELECT NR_ADULTS, NR_BABIES, NEXT_TO_WINDOW, COMMENTS, ORIGINAL_VALUE FROM PEOPLE_ORDERED;

## Interests

Focus on the interest column

In [ ]:
%%sql

SELECT INTERESTS FROM MY_RESTAURANT_DATA;

---

Move from `freetext string`, to `ARRAY[strings]`

In [ ]:
%%sql 

SELECT ARRAY['pinot noir','tagliatelle'];

---
You can unnest easily

In [ ]:
%%sql 
SELECT * FROM UNNEST(ARRAY['pinot noir','tagliatelle']);

---

You can also do array math, for example intersection

In [ ]:
%%sql 

WITH MY_ROWS AS (
    SELECT ARRAY['pinot noir','tagliatelle'] array_a, ARRAY['riesling','tagliatelle'] ARRAY_B UNION ALL
    SELECT ARRAY['pinot noir','tagliatelle'] array_a, ARRAY['riesling','pennette'] ARRAY_B)
SELECT ARRAY_A, ARRAY_B, ARRAY_A && ARRAY_B INTERSECTION FROM MY_ROWS;

## Booking Date
Let's start, from the biggest one and probably the simplest one to solve... the `booking_date`... it's a date!

In [ ]:
%%sql

SELECT BOOKING_DATE FROM MY_RESTAURANT_DATA;

---
Let's check dates

In [ ]:
%%sql
SELECT '05/10/2021'  str, 'DD/MM/YYYY'  conversion_str, to_date('05/10/2021' ,'DD/MM/YYYY' ) DT UNION ALL
SELECT '10-05-2021'  str, 'MM-DD-YYYY'  conversion_str, to_date('10-05-2021' ,'MM-DD-YYYY' ) DT UNION ALL
SELECT '2021-10-05'  str, 'YYYY-MM-DD'  conversion_str, to_date('2021-10-05' ,'YYYY-MM-DD' ) DT UNION ALL
SELECT '2021-Oct-05' str, 'YYYY-Mon-DD' conversion_str, to_date('2021-Oct-05','YYYY-Mon-DD') DT;

---

It even errors when is not a date!

In [ ]:
%%sql

SELECT TO_DATE('444 555666');

SELECT TO_DATE('2021-Nov-31','YYYY-Mon-DD');

In [ ]:
%%sql

SELECT TO_DATE('2021-Nov-31','YYYY-Mon-DD');

## Phone Number

Let's look at phone number

In [ ]:
%%sql

SELECT PHONE_NUMBER FROM MY_RESTAURANT_DATA;

---

We fix this by checking the format

In [ ]:
%%sql

SELECT PHONE_NUMBER,
    CASE WHEN PHONE_NUMBER LIKE '+__ %-%-%' THEN TRUE ELSE FALSE END TEST
FROM MY_RESTAURANT_DATA;

---

Or, to be more precise, `regexp`

In [ ]:
%%sql
set standard_conforming_strings=1;
SELECT PHONE_NUMBER,
    CASE WHEN PHONE_NUMBER ~ '^\+[0-9]{{2,3}} [0-9]{{3,3}}\-[0-9]{{3,3}}\-[0-9]{{3,3}}$'::text THEN TRUE ELSE FALSE END TEST
FROM MY_RESTAURANT_DATA;

---

How to apply the check when inserting the data? 

We can create a `DOMAIN`!

In [ ]:
%%sql

CREATE DOMAIN phone_number AS TEXT
CHECK(
   VALUE ~ '^\+[0-9]{{2,3}} [0-9]{{3,3}}\-[0-9]{{3,3}}\-[0-9]{{3,3}}$'
);

---
We use the `PHONE_NUMBER` DOMAIN in our column definition

In [ ]:
%%sql

CREATE TABLE TEST_PHONE_NUMBER (PNUMBER PHONE_NUMBER);

---
The correct phone number is stored

In [ ]:
%%sql

INSERT INTO TEST_PHONE_NUMBER SELECT '+39 444-555-666';

---

All the other fail

In [ ]:
%%sql

INSERT INTO TEST_PHONE_NUMBER SELECT '+39 444-555-6A6';

In [ ]:
%%sql

INSERT INTO TEST_PHONE_NUMBER SELECT '444555666';

In [ ]:
%%sql

INSERT INTO TEST_PHONE_NUMBER SELECT '444 555666';

In [ ]:
%%sql

INSERT INTO TEST_PHONE_NUMBER SELECT '2021-Oct-24';

In [ ]:
%%sql

SELECT * FROM TEST_PHONE_NUMBER;

Let's create a similar domain for the `EMAIL` field (more info on [StackOverflow](https://bit.ly/3ol6yfr) )

In [ ]:
%%sql

CREATE EXTENSION citext;
CREATE DOMAIN email AS citext
  CHECK ( value ~ '^[a-zA-Z0-9.!#$%&''*+/=?^_`{{|}}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{{0,61}}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{{0,61}}[a-zA-Z0-9])?)*$' );

## Investigate Caller Name and Surname

In [ ]:
%%sql

SELECT CALLER_NAME, CALLER_SURNAME FROM MY_RESTAURANT_DATA;

---

Enable the `UNACCENT` extension

In [ ]:
%%sql

CREATE EXTENSION UNACCENT;

---

Remove the accents

In [ ]:
%%sql

select
    caller_name || ' ' || caller_surname as caller,
    UNACCENT(caller_name  || ' ' || caller_surname) caller_no_accent
from my_restaurant_data;

---

What about string similarity? Let's check `FUZZYSTRMATCH`

In [ ]:
%%sql

CREATE EXTENSION FUZZYSTRMATCH;

---

How can we measure string similarity? `levenshtein` difference?

In [ ]:
%%sql

SELECT 'Francesco' src, 'Francesco' tgt, levenshtein('Francesco', 'Francesco') levenshtein UNION ALL
SELECT 'Francesco' src, 'Francisco' tgt, levenshtein('Francesco', 'Francisco') levenshtein UNION ALL
SELECT 'Francesco' src, 'Fransisco' tgt, levenshtein('Francesco', 'Fransisco') levenshtein UNION ALL
SELECT 'Francesco' src, 'Fransiscos' tgt, levenshtein('Francesco', 'Fransiscos') levenshtein;

---
Check the difference between what we heard and the customer database

In [ ]:
%%sql

WITH REMOVE_ACCENTS AS (
    SELECT
        ID,
        CALLER_NAME || ' ' || CALLER_SURNAME AS CALLER,
        UNACCENT(CALLER_NAME  || ' ' || CALLER_SURNAME) CALLER_NO_ACCENT  
    FROM MY_RESTAURANT_DATA
    )
SELECT SRC.ID,
    TGT.CALLER TGT_CALLER,
    SRC.CALLER SRC_CALLER,
    UNACCENT(TGT.CALLER) TGT_CALLER_NO_ACCENT,
    SRC.CALLER_NO_ACCENT SRC_CALLER_NO_ACCENT,  
    LEVENSHTEIN(SRC.CALLER_NO_ACCENT, UNACCENT(TGT.CALLER)) AS LEVENSHTEIN
FROM REMOVE_ACCENTS SRC CROSS JOIN (SELECT 'FrancÄ™sco TizzÃ®ot' CALLER) TGT
ORDER BY LEVENSHTEIN ASC;

---

What about the sound of a word? `soundex` tells us what the sound looks like

In [ ]:
%%sql

SELECT CALLER_SURNAME AS CALLER,
    SOUNDEX(CALLER_SURNAME) AS CALLER_SOUNDEX
FROM MY_RESTAURANT_DATA;

---
The `difference` function provides a similarity score 

* 4 - sound really close
* 0 - sound very different

In [ ]:
%%sql

SELECT SRC.ID,
    TGT.CALLER_SURNAME TGT_CALLER,
    SRC.CALLER_SURNAME SRC_CALLER,
    SOUNDEX(TGT.CALLER_SURNAME) TGT_SOUDEX,
    SOUNDEX(SRC.CALLER_SURNAME) SRC_SOUDEX,
    DIFFERENCE(SRC.CALLER_SURNAME, TGT.CALLER_SURNAME) AS SOUNDEX_DIFF
FROM MY_RESTAURANT_DATA SRC CROSS JOIN (SELECT 'TizzÃ®ot' CALLER_SURNAME) TGT;

## How do we fix our strings

Let's create a table for clients with all we learnt

In [ ]:
%%sql 

CREATE TABLE MY_RESTAURANT_CLIENT(
    ID SERIAL PRIMARY KEY,
    NAME VARCHAR,
    SURNAME VARCHAR,
    EMAIL EMAIL,
    PHONE_NUMBER PHONE_NUMBER,
    INTERESTS VARCHAR[]
    );

---
Let's create a new table for table bookings

In [ ]:
%%sql

CREATE TABLE MY_RESTAURANT_BOOKING
    (
    ID SERIAL,
    MY_CLIENT_ID INT,
    BOOKING_DATE DATE,
    NR_ADULTS INTEGER,
    NR_CHILDREN INTEGER,
    COMMENTS VARCHAR,
    PRIMARY KEY (MY_CLIENT_ID, BOOKING_DATE),
    FOREIGN KEY(MY_CLIENT_ID) REFERENCES MY_RESTAURANT_CLIENT(ID)
    );

---

Adding helper functions to check names against the clients table

In [ ]:
%%sql

CREATE OR REPLACE  FUNCTION SIMILAR_NAME(IN_NAME VARCHAR)
RETURNS TABLE(ID INTEGER, CALLER_NAME VARCHAR, CALLER_SURNAME VARCHAR, EMAIL VARCHAR, PHONE_NUMBER VARCHAR)
AS $$
    SELECT ID, NAME, SURNAME, EMAIL, PHONE_NUMBER
    FROM MY_RESTAURANT_CLIENT
    WHERE
        DIFFERENCE(IN_NAME, NAME) >=3 AND
        LEVENSHTEIN(UNACCENT(IN_NAME), UNACCENT(NAME)) <=4
    ORDER BY DIFFERENCE(IN_NAME, NAME) ASC,
        LEVENSHTEIN(UNACCENT(IN_NAME), UNACCENT(NAME)) DESC
    LIMIT 2;
$$ LANGUAGE SQL;

--- 
Do the same for surname and email

In [ ]:
%%sql 
CREATE OR REPLACE  FUNCTION SIMILAR_SURNAME(IN_SURNAME VARCHAR)
RETURNS TABLE(ID INTEGER, CALLER_NAME VARCHAR, CALLER_SURNAME VARCHAR, EMAIL VARCHAR, PHONE_NUMBER VARCHAR)
AS $$
    SELECT ID, NAME, SURNAME, EMAIL, PHONE_NUMBER
    FROM MY_RESTAURANT_CLIENT
    WHERE
        DIFFERENCE(IN_SURNAME, SURNAME) >=3 AND
        LEVENSHTEIN(UNACCENT(IN_SURNAME), UNACCENT(SURNAME)) <=4
    ;
$$ LANGUAGE SQL;

CREATE OR REPLACE FUNCTION SIMILAR_EMAIL(IN_EMAIL VARCHAR)
RETURNS TABLE(ID INTEGER, CALLER_NAME VARCHAR, CALLER_SURNAME VARCHAR, EMAIL VARCHAR, PHONE_NUMBER VARCHAR)
AS $$
    SELECT ID, NAME, SURNAME, EMAIL, PHONE_NUMBER
    FROM MY_RESTAURANT_CLIENT
    WHERE
        DIFFERENCE(IN_EMAIL, EMAIL) >=3 AND
        LEVENSHTEIN(UNACCENT(IN_EMAIL), UNACCENT(EMAIL)) <=4
    ;
$$ LANGUAGE SQL;

---
Insert some data

In [ ]:
%%sql
INSERT INTO MY_RESTAURANT_CLIENT VALUES (1, 'Francesco', 'Tisiot', 'francesco.tisiot@aiven.io', '+39 444-555-666','{{"football","pinot noir","spaghetti"}}');
INSERT INTO MY_RESTAURANT_CLIENT VALUES (2, 'Ugo', 'Rossi', 'ugorossi@email.com', '+39 777-999-222','{{"tennis","riesling","spaghetti"}}');
INSERT INTO MY_RESTAURANT_CLIENT VALUES (3, 'Uga', 'Bianchi', 'uga.bianchi@gmail.com', '+39 777-999-202','{{"volleyball","pinot noir","linguine"}}');
INSERT INTO MY_RESTAURANT_CLIENT VALUES (4, 'Francesca', 'Verdi', 'fverdi@email.com', '+39 444-555-999','{{"rugby","merlot","spaghetti"}}');
SELECT * FROM MY_RESTAURANT_CLIENT;

---
Let's check the data

In [ ]:
%%sql
SELECT * FROM SIMILAR_NAME('Ugo');

In [ ]:
%%sql

SELECT * FROM SIMILAR_SURNAME('TisiÃ¶tto');

In [ ]:
%%sql

SELECT * FROM SIMILAR_EMAIL('ugo.rossi@email.com');

In [ ]:
%%sql

INSERT INTO MY_RESTAURANT_CLIENT VALUES (
    5, 
    'Jon', 
    'Doe', 
    'jondoe#email.com', 
    '+39 444-555-999',
    '{{"rugby","cabernet","spaghetti"}}'
    );

### Find interesting data

People interested in `pinot noir`

In [ ]:
%%sql

SELECT * FROM MY_RESTAURANT_CLIENT WHERE 'pinot noir' = ANY (interests);

---
What event should I create to maximise interest?

In [ ]:
%%sql

SELECT UNNEST(INTERESTS) INTEREST,
    COUNT(ID) NR_PEOPLE,
    ARRAY_AGG(NAME) PEOPLE_TO_INVITE,
    ARRAY_AGG(EMAIL) EMAILS_TO_INVITE
FROM MY_RESTAURANT_CLIENT
GROUP BY UNNEST(INTERESTS)
ORDER BY 2 DESC
LIMIT 5;

### What about bookings?

Let's try to insert

In [ ]:
%%sql
INSERT INTO MY_RESTAURANT_BOOKING VALUES (
    1,
    1,
    '2023-11-23',
    4,
    1,
    'I want to sit near the window staring at Verona''s Arena');

In [ ]:
%%sql 

INSERT INTO MY_RESTAURANT_BOOKING VALUES (
    2,
    1,
    '2023-11-23',
    1,
    4,
    'Help I''m with 4 kids');

In [ ]:
%%sql

UPDATE MY_RESTAURANT_BOOKING SET 
    nr_adults=1, 
    nr_children=4, 
    comments='Help I''m with 4 kids' 
where my_client_id=1 and booking_date='2023-11-23';
SELECT * FROM MY_RESTAURANT_BOOKING;

In [ ]:
%%sql

INSERT INTO MY_RESTAURANT_BOOKING VALUES (
    3,
    3,
    '2023-02-31',
    7,
    1,
    'I''m really devil ðŸ˜ˆ');